header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 0px 1.5rem ;

  .mid-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80vw;

    .msSpan {
      font-size: 20px;
      font-weight: 600;
      margin: 0px 1rem;
    }
    .searchAndIconButtons {
      display: flex;
      align-items: center;
    }
  }

  .supportButton {
    background-color: #3b9b6e;
    border: none;
    color: white;
    padding: 0.7rem 1.4rem;
    border-radius: 25px;
  }
}

.greyMsSpan {
  color: #b5c2cd;
  font-weight: normal !important;
}
